Send Feedback
Titanic dataset is one of the datasets available in sklearn.
You are given:
    1. A Training dataset csv file with X train and Y train data
    2. A X test File and you have to predict and submit predictions for this file.
Your task is to:
    1. Use Logistic Regression and come with predictions.
Read Instructions carefully -
    1. Use Logistic Regression as a training algorithm and submit results predicted.
    2. Files are in csv format.
    3. Submit a csv file with only predictions for X test data. File should not have any headers and should only have one column i.e. predictions.
    4. Your score is based on number of accurate predictions.

In [32]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [33]:
# Loading Dataset
dataframe = pd.read_csv("training_titanic_x_y_train.csv", delimiter = ",")
dataframe.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [34]:
dataframe.describe()

           Pclass         Age       SibSp       Parch        Fare    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.402695
std      0.831638   14.240257    1.080327    0.854695   45.320835    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.000000    0.000000    0.000000   14.750000    0.000000
75%      3.000000   38.250000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

In [35]:
df = dataframe.copy()
sex = df['Sex'].values
sex_int = []
for s in sex :
    sex_int.append(0 if s == 'male' else 1)
df['Sex'] = sex_int
df.drop('Name', axis = 1, inplace = True)
df.drop('Ticket', axis = 1, inplace = True)
df.drop('Cabin', axis = 1, inplace = True)

embarked_counts = { i :(df['Embarked'] == i).sum() for i in set(df['Embarked'])}

def embarked_int(s):
    return embarked_counts[s]
df['Embarked'] = [embarked_int(i) for i in df['Embarked']]
#df.drop('Embarked', axis = 1, inplace = True)

ages = df['Age'].fillna(0).values
ages_nonzero = ages[np.nonzero(ages)]

mean_age = np.array(ages_nonzero).mean()


survived_female_ages = np.array(df['Survived'] * (df['Sex']) * ages )
indices_sfa = np.nonzero(survived_female_ages)
count_sfa = len(survived_female_ages[indices_sfa])
sum_sfa = np.sum(survived_female_ages)
mean_sfa = sum_sfa/count_sfa

not_survived_female_ages = np.array((1 - df['Survived']) * (df['Sex']) * ages )
indices_nsfa = np.nonzero(not_survived_female_ages)
count_nsfa = len(not_survived_female_ages[indices_nsfa])
sum_nsfa = np.sum(not_survived_female_ages)
mean_nsfa = sum_nsfa/count_nsfa

survived_male_ages = np.array(df['Survived'] * (1-df['Sex']) * ages )
indices_sma = np.nonzero(survived_male_ages)

count_sma = len(survived_male_ages[indices_sma])
sum_sma = np.sum(survived_male_ages)
mean_sma = sum_sma/count_sma

not_survived_male_ages = np.array((1 - df['Survived']) * (1-df['Sex']) * ages )
indices_nsma = np.nonzero(not_survived_male_ages)

count_nsma = len(not_survived_male_ages[indices_nsma])
sum_nsma = np.sum(not_survived_male_ages)
mean_nsma = sum_nsma/count_nsma

print(mean_sma, mean_sfa, mean_nsma, mean_nsfa)
df.describe()

27.4375 28.4884868421 31.7065637066 26.3673469388

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived
count,668.000000,668.000000,536.000000,668.000000,668.000000,668.000000,668.000000,668.000000
mean,2.296407,0.360778,29.700560,0.528443,0.407186,32.064552,380.905689,0.402695
std,0.831638,0.480586,14.240257,1.080327,0.854695,45.320835,168.501612,0.490808
min,1.000000,0.000000,0.670000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.925000,133.000000,0.000000
50%,3.000000,0.000000,29.000000,0.000000,0.000000,14.750000,484.000000,0.000000
75%,3.000000,1.000000,38.250000,1.000000,0.000000,31.275000,484.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,484.000000,1.000000

In [36]:
#print(training_final_df.shape)
#print(df.shape)
values = np.empty((0,8))
for row in df.values :
    #print(row[2])
    if np.isnan(row[2]) : 
        if row[1] == 0.0 : # male
            if row[-1] == 1.0: # survived 
                row[2] = mean_sma
            else:
                row[2] = mean_nsma
        else: # female
            if row[-1] == 1.0: # survived
                row[2] = mean_sfa
            else:
                row[2] = mean_nsfa
    values = np.insert(values,0, row, axis = 0) 
    #training_final_df.append(row)
training_final_df = pd.DataFrame(values, columns = df.columns)

print(training_final_df.describe())
#print(values)

           Pclass         Sex         Age       SibSp       Parch        Fare  \
count  668.000000  668.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407    0.360778   29.783072    0.528443    0.407186   32.064552
std      0.831638    0.480586   12.786115    1.080327    0.854695   45.320835
min      1.000000    0.000000    0.670000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   23.000000    0.000000    0.000000    7.925000
50%      3.000000    0.000000   29.000000    0.000000    0.000000   14.750000
75%      3.000000    1.000000   35.000000    1.000000    0.000000   31.275000
max      3.000000    1.000000   80.000000    8.000000    6.000000  512.329200

         Embarked    Survived
count  668.000000  668.000000
mean   380.905689    0.402695
std    168.501612    0.490808
min      0.000000    0.000000
25%    133.000000    0.000000
50%    484.000000    0.000000
75%    484.000000    1.000000
max    484.000000    1.000000

In [37]:
final_X_train = training_final_df.values
print(final_X_train.shape)
X_train = training_final_df.drop('Survived', axis = 1).values
Y_train = training_final_df['Survived'].values
print(X_train.shape)
print(Y_train.shape)

(668, 8)
(668, 7)
(668,)

In [38]:
df.fillna(mean_age, inplace = True)
#print(df)
#df.describe()

X_df = df.drop('Survived', axis = 1)
X_train = X_df.values
Y_train = df['Survived'].values

print("Shape of X_train ", X_train.shape)
print("Shape of Y_train ", Y_train.shape)

test_dataframe = pd.read_csv("test_titanic_x_test.csv", delimiter = ",")


test_df = test_dataframe.copy()
sex = test_df['Sex'].values
sex_int = []
for s in sex :
    sex_int.append(0 if s == 'male' else 1)
test_df['Sex'] = sex_int
test_df.drop('Name', axis = 1, inplace = True)
test_df.drop('Ticket', axis = 1, inplace = True)
test_df.drop('Cabin', axis = 1, inplace = True)

test_df['Embarked'] = [embarked_int(i) for i in test_df['Embarked']]

#df.drop('Embarked', axis = 1, inplace = True)

ages = test_df['Age'].fillna(0).values
ages_nonzero = ages[np.nonzero(ages)]

X_test = test_df.values

print("Shape of X_test ", X_test.shape)

Shape of X_train  (668, 7)
Shape of Y_train  (668,)
Shape of X_test  (223, 7)

In [39]:
mean_fa = (mean_sfa * count_sfa + mean_nsfa * count_nsfa)/(count_nsfa + count_sfa)
mean_ma = (mean_sma * count_sma + mean_nsma * count_nsma)/(count_nsma + count_sma)

values = np.empty((0,7))
for row in test_df.values :
    #print(row[2])
    if np.isnan(row[2]) : 
        if row[1] == 1.0 : # male
            row[2] = mean_ma
        else: # female
            row[2] = mean_fa
    values = np.insert(values,0, row, axis = 0) 
    #training_final_df.append(row)
testing_final_df = pd.DataFrame(values, columns = test_df.columns)

print(testing_final_df.describe())
#print(values)

           Pclass         Sex         Age       SibSp       Parch        Fare  \
count  223.000000  223.000000  223.000000  223.000000  223.000000  223.000000
mean     2.345291    0.327354   29.508293    0.506726    0.304933   32.622551
std      0.850047    0.470303   13.765760    1.169700    0.634108   61.062047
min      1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   22.000000    0.000000    0.000000    7.879200
50%      3.000000    0.000000   27.971393    0.000000    0.000000   12.475000
75%      3.000000    1.000000   35.000000    1.000000    0.000000   30.035400
max      3.000000    1.000000   71.000000    8.000000    2.000000  512.329200

         Embarked
count  223.000000
mean   374.192825
std    176.847452
min      0.000000
25%    133.000000
50%    484.000000
75%    484.000000
max    484.000000

In [40]:
X_test = testing_final_df.values
print(X_test.shape)

(223, 7)

In [41]:
import sklearn.preprocessing as pps

def add_more_features (X_train, imp_cols_indices = []):
    
    X_train_df = pd.DataFrame(X_train)
    num_f = len(X_train_df.columns)
    col_names = X_train_df.columns
    
    if len(imp_cols_indices) == 0 :
        imp_cols_indices = np.arange(num_f)
    new_df = X_train_df.copy()
    num_imp_cols = len(imp_cols_indices)
    
    pow = 3
    
    while pow < 10 :
        for i1 in range(num_imp_cols) :
            i = imp_cols_indices[i1]
            new_df[ str(col_names[i]) + "_pow_" + str(pow) ] = X_train_df[i] ** pow
        pow += 1
    
    for i1 in range(num_imp_cols) :
        for j1 in range(i1, num_imp_cols):
            i = imp_cols_indices[i1]
            j = imp_cols_indices[j1]
            new_df[ str(col_names[i]) + "_" + str(col_names[j])] = X_train_df[i] * X_train_df[j]
            new_df[ str(col_names[i])*2 + "_" + str(col_names[j])] = X_train_df[i]**2 * X_train_df[j]
            new_df[ str(col_names[i]) + "_" + str(col_names[j])*2 ] = X_train_df[i] * X_train_df[j]**2
            new_df[ str(col_names[i])*2 + "_" + str(col_names[j])*2 ] = X_train_df[i]**2 * X_train_df[j]**2
            
            new_df[ str(col_names[i])*3 + "_" + str(col_names[j])] = X_train_df[i]**3 * X_train_df[j]
            new_df[ str(col_names[i])*3 + "_" + str(col_names[j])*2] = X_train_df[i]**3 * X_train_df[j]**2
            new_df[ str(col_names[i])*3 + "_" + str(col_names[j])*3 ] = X_train_df[i]**3 * X_train_df[j]**3
            new_df[ str(col_names[i])*2 + "_" + str(col_names[j])*3 ] = X_train_df[i]**2 * X_train_df[j]**3
            new_df[ str(col_names[i]) + "_" + str(col_names[j])*3 ] = X_train_df[i] * X_train_df[j]**3
            
            
            
    print(new_df.describe())
    return new_df.values


X_train_new = add_more_features(X_train)
X_test_new = add_more_features(X_test)

std_scaler = pps.StandardScaler()
std_scaler.fit(X_train_new)

X_train_scaled = std_scaler.transform(X_train_new)
X_test_scaled = std_scaler.transform(X_test_new)

import copy
X_train_original = copy.deepcopy(X_train)
X_test_original = copy.deepcopy(X_test)

X_train = X_train_scaled
X_test = X_test_scaled

print(X_train.shape)
print(X_test.shape)

                0           1           2           3           4           5  \
count  668.000000  668.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407    0.360778   29.700560    0.528443    0.407186   32.064552
std      0.831638    0.480586   12.753571    1.080327    0.854695   45.320835
min      1.000000    0.000000    0.670000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   23.000000    0.000000    0.000000    7.925000
50%      3.000000    0.000000   29.700560    0.000000    0.000000   14.750000
75%      3.000000    1.000000   35.000000    1.000000    0.000000   31.275000
max      3.000000    1.000000   80.000000    8.000000    6.000000  512.329200

                6     0_pow_3     1_pow_3        2_pow_3      ...       \
count  668.000000  668.000000  668.000000     668.000000      ...
mean   380.905689   16.523952    0.360778   41484.103544      ...
std    168.501612   11.548257    0.480586   55928.143917      ...
min      0.000000    1.000000    0.000000       0.300763      ...
25%    133.000000    8.000000    0.000000   12167.000000      ...
50%    484.000000   27.000000    0.000000   26199.554149      ...
75%    484.000000   27.000000    1.000000   42875.000000      ...
max    484.000000   27.000000    1.000000  512000.000000      ...

              5_666            6_6          66_6          6_66         66_66  \
count  6.680000e+02     668.000000  6.680000e+02  6.680000e+02  6.680000e+02
mean   2.310821e+09  173439.432635  8.262728e+07  8.262728e+07  3.982313e+10
std    3.810464e+09   98774.992357  4.991662e+07  4.991662e+07  2.443187e+10
min    0.000000e+00       0.000000  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.915708e+08   17689.000000  2.352637e+06  2.352637e+06  3.129007e+08
50%    9.821534e+08  234256.000000  1.133799e+08  1.133799e+08  5.487587e+10
75%    2.947878e+09  234256.000000  1.133799e+08  1.133799e+08  5.487587e+10
max    2.981891e+10  234256.000000  1.133799e+08  1.133799e+08  5.487587e+10

              666_6        666_66       666_666        66_666         6_666
count  6.680000e+02  6.680000e+02  6.680000e+02  6.680000e+02  6.680000e+02
mean   3.982313e+10  1.925233e+13  9.315207e+15  1.925233e+13  3.982313e+10
std    2.443187e+10  1.186080e+13  5.745361e+15  1.186080e+13  2.443187e+10
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    3.129007e+08  4.161580e+10  5.534901e+12  4.161580e+10  3.129007e+08
50%    5.487587e+10  2.655992e+13  1.285500e+16  2.655992e+13  5.487587e+10
75%    5.487587e+10  2.655992e+13  1.285500e+16  2.655992e+13  5.487587e+10
max    5.487587e+10  2.655992e+13  1.285500e+16  2.655992e+13  5.487587e+10

[8 rows x 308 columns]
                0           1           2           3           4           5  \
count  223.000000  223.000000  223.000000  223.000000  223.000000  223.000000
mean     2.345291    0.327354   29.508293    0.506726    0.304933   32.622551
std      0.850047    0.470303   13.765760    1.169700    0.634108   61.062047
min      1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   22.000000    0.000000    0.000000    7.879200
50%      3.000000    0.000000   27.971393    0.000000    0.000000   12.475000
75%      3.000000    1.000000   35.000000    1.000000    0.000000   30.035400
max      3.000000    1.000000   71.000000    8.000000    2.000000  512.329200

                6     0_pow_3     1_pow_3        2_pow_3      ...       \
count  223.000000  223.000000  223.000000     223.000000      ...
mean   374.192825   17.520179    0.327354   43865.118628      ...
std    176.847452   11.651018    0.470303   61487.720786      ...
min      0.000000    1.000000    0.000000       0.074088      ...
25%    133.000000    8.000000    0.000000   10648.000000      ...
50%    484.000000   27.000000    0.000000   21884.785137      ...
75%    484.000000   27.000000    1.000000   42875.000000      ...
max    484.000000   27.000000    1.000000  357911.000000      ...

              5_666            6_6          66_6          6_66         66_66  \
count  2.230000e+02     223.000000  2.230000e+02  2.230000e+02  2.230000e+02
mean   2.051449e+09  171155.044843  8.173319e+07  8.173319e+07  3.942269e+10
std    3.380154e+09  100867.566157  5.055032e+07  5.055032e+07  2.468232e+10
min    0.000000e+00       0.000000  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.816824e+08   17689.000000  2.352637e+06  2.352637e+06  3.129007e+08
50%    9.127082e+08  234256.000000  1.133799e+08  1.133799e+08  5.487587e+10
75%    2.633248e+09  234256.000000  1.133799e+08  1.133799e+08  5.487587e+10
max    2.981891e+10  234256.000000  1.133799e+08  1.133799e+08  5.487587e+10

              666_6        666_66       666_666        66_666         6_666
count  2.230000e+02  2.230000e+02  2.230000e+02  2.230000e+02  2.230000e+02
mean   3.942269e+10  1.906302e+13  9.224191e+15  1.906302e+13  3.942269e+10
std    2.468232e+10  1.197424e+13  5.799218e+15  1.197424e+13  2.468232e+10
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    3.129007e+08  4.161580e+10  5.534901e+12  4.161580e+10  3.129007e+08
50%    5.487587e+10  2.655992e+13  1.285500e+16  2.655992e+13  5.487587e+10
75%    5.487587e+10  2.655992e+13  1.285500e+16  2.655992e+13  5.487587e+10
max    5.487587e+10  2.655992e+13  1.285500e+16  2.655992e+13  5.487587e+10

[8 rows x 308 columns]
(668, 308)
(223, 308)

In [42]:
X_t_df = pd.DataFrame(X_train)
X_t_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,298,299,300,301,302,303,304,305,306,307
count,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,...,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02
mean,5.019272e-17,-1.595530e-17,2.528767e-16,-9.215848e-17,-1.357863e-16,-4.263057e-17,-7.844690e-17,2.393295e-17,-1.595530e-17,-6.207609e-17,...,-3.589943e-17,-7.512288e-17,9.772622e-17,9.772622e-17,-3.563351e-16,-3.563351e-16,-6.382120e-17,-6.747763e-17,-6.382120e-17,-3.563351e-16
std,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,...,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00
min,-1.560029e+00,-7.512675e-01,-2.277975e+00,-4.895177e-01,-4.767676e-01,-7.080315e-01,-2.262240e+00,-1.345275e+00,-7.512675e-01,-7.422898e-01,...,-6.068953e-01,-1.757220e+00,-1.656546e+00,-1.656546e+00,-1.631188e+00,-1.631188e+00,-1.624406e+00,-1.622559e+00,-1.624406e+00,-1.631188e+00
25%,-3.566809e-01,-7.512675e-01,-5.257807e-01,-4.895177e-01,-4.767676e-01,-5.330361e-01,-1.472339e+00,-7.386690e-01,-7.512675e-01,-5.245851e-01,...,-5.565827e-01,-1.578002e+00,-1.609380e+00,-1.609380e+00,-1.618372e+00,-1.618372e+00,-1.620895e+00,-1.621595e+00,-1.620895e+00,-1.618372e+00
50%,8.466668e-01,-7.512675e-01,2.787749e-16,-4.895177e-01,-4.767676e-01,-3.823302e-01,6.122883e-01,9.078338e-01,-7.512675e-01,-2.734938e-01,...,-3.489505e-01,6.161695e-01,6.165414e-01,6.165414e-01,6.165728e-01,6.165728e-01,6.165752e-01,6.165754e-01,6.165752e-01,6.165728e-01
75%,8.466668e-01,1.331084e+00,4.158374e-01,4.368218e-01,-4.767676e-01,-1.743444e-02,6.122883e-01,9.078338e-01,1.331084e+00,2.488798e-02,...,1.673114e-01,6.161695e-01,6.165414e-01,6.165414e-01,6.165728e-01,6.165728e-01,6.165752e-01,6.165754e-01,6.165752e-01,6.165728e-01
max,8.466668e-01,1.331084e+00,3.946905e+00,6.921198e+00,6.548543e+00,1.060494e+01,6.122883e-01,9.078338e-01,1.331084e+00,8.419169e+00,...,7.224503e+00,6.161695e-01,6.165414e-01,6.165414e-01,6.165728e-01,6.165728e-01,6.165752e-01,6.165754e-01,6.165752e-01,6.165728e-01

In [43]:
# extract best features

from sklearn.decomposition import PCA

pca = PCA()
pca.fit(np.concatenate((X_train, X_test), axis = 0))

X_train = pca.transform(X_train)
X_test = pca.transform(X_test)

print(X_train.shape)
print(X_test.shape)

(668, 308)
(223, 308)

In [53]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import model_selection

model = GradientBoostingClassifier(subsample = 0.8, n_estimators = 15, warm_start = True)
model.fit(X_train, Y_train)
print("Training Score: ", model.score(X_train, Y_train))
Y_pred = model.predict(X_test)

Training Score:  0.874251497006

In [54]:
print(Y_pred)

[0 0 1 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 1 1 0 0 0 1 0 0 0 0 1 1 0 0 1 1 1 0 0 0 1 1 1 1 0 1 0 1 0 0 1 0 0 0 0 1
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1
 0 0 0 0 0 0 1 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0
 0 1 1 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 1
 0]

In [46]:
np.savetxt("y_pred.csv", Y_pred, fmt = "%d")

In [47]:
X_test_df = pd.DataFrame(X_test)

In [48]:
X_test_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,298,299,300,301,302,303,304,305,306,307
count,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,...,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02,2.230000e+02
mean,0.773982,-0.357067,-0.767497,-0.147505,-0.210461,0.208706,-0.055533,0.271712,0.129925,-0.019272,...,-7.846659e-19,1.078854e-17,3.068834e-18,-1.582979e-17,1.116921e-17,-4.251708e-18,8.887537e-18,-1.771168e-16,-9.769488e-17,2.305891e-16
std,15.586570,7.731172,5.789103,4.325440,5.750911,5.241957,6.524389,4.270146,3.355580,2.459353,...,7.122351e-17,7.401397e-17,8.314971e-17,6.837363e-17,1.242976e-16,8.114210e-17,1.662828e-16,2.676812e-15,1.950365e-15,2.004016e-15
min,-3.436743,-28.710477,-28.807672,-9.220405,-30.804670,-25.420889,-55.450078,-20.021856,-20.968708,-8.295169,...,-3.974446e-16,-5.303467e-16,-5.016699e-16,-5.836633e-16,-1.412345e-16,-7.826249e-16,-4.541648e-17,-1.243450e-14,-6.106227e-15,-6.914825e-15
25%,-2.986081,-2.763521,-4.355647,-3.115529,-3.470900,-4.608374,-0.762038,-2.097642,-1.835876,-1.166300,...,-7.104898e-18,-1.659988e-18,-1.656777e-17,-4.433738e-17,-2.233261e-17,-2.748400e-17,-2.162447e-17,-1.332268e-15,-1.262879e-15,-6.703080e-16
50%,-1.622178,-1.578478,-2.486843,-0.530698,-2.077499,2.033732,-0.454812,0.009440,0.668222,-0.506689,...,1.073806e-17,1.675934e-17,1.168499e-17,-3.114256e-17,6.265475e-18,1.578813e-17,-3.861131e-19,-4.440892e-16,3.885781e-16,-2.615638e-16
75%,-0.349098,-0.136449,4.500137,3.452079,2.831917,2.745611,1.018071,2.534489,1.408706,0.511965,...,3.659659e-17,3.013536e-17,2.622779e-17,2.329676e-17,1.866946e-17,2.847548e-17,5.037257e-18,6.106227e-16,1.013079e-15,1.221164e-15
max,196.833443,68.019380,11.913325,26.111974,18.502818,35.360531,71.575862,22.384292,32.372281,10.782229,...,1.066670e-16,5.851473e-16,8.825413e-16,1.376101e-16,1.617449e-15,1.377503e-16,2.377633e-15,1.865175e-14,7.022161e-15,2.059160e-14